:root {
	font-family: 'Cantarell', sans-serif;
	font-size: 1em;
}

html {
	height: 100%;
	background-color: #222222;
	background-image: url("img/background.png");
	background-position: center;
	background-repeat: repeat;
}

body {
	color: white;
	display: flex;
	margin: 0;
	justify-content: center;
}

p {
	margin: 8px 0;
}

h1 {
	font-size: 2.8em;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	width: fit-content;
	width: 40rem;
	max-width: 40rem;
	margin: 3rem 0;
	padding: 0 1rem;
	gap: 1rem;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: white;
}

#photo-of-me {
	border-radius: 99999px;
	width: 100px;
	height: 100px;
	align-self: center;
}

#social {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

#social ul {
	margin: 4px 0px;
	padding-left: 20px;
}

#social li {
	list-style-type: ">";
	padding-inline-start: 1ch;
}

#featured-posts, #posts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 200px;

	/* background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
	border: none;
	text-align: inherit;
	cursor: pointer; */
}

.post h2 {
	margin: 0;
}

.post .thumb {
	position: relative;
	border-radius: 8px;
	overflow: clip;
}

.post img {
	width: 200px;
	height: 200px;
}

.post p {
	margin: 0;
}

.post p a {
	text-decoration: underline;
}

.post .prose {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.img-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 180ms;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
}

.img-overlay:hover {
	opacity: 1;
	transition: opacity 180ms;
}
